<h1><%= link_to 'Izo Official Web Site', root_path, class: 'heading' %></h1>
<div class="item-section mb-5 d-flex flex-column flex-md-row align-items-center justify-content-between">
  <div>
    <%= image_tag 'journeyman.jpeg', class: "item-picture" %>
  </div>
  <div class="item-info">
    <h4>journeyman</h4>
    <h4>¥,2,500</h4>
  </div>
  <div class="item-youtube">
    <iframe width="400" height="250" src="https://www.youtube.com/embed/UnRym7Mh7qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="main-section">
  <div class="row">
    <div class="col-md-9">
      <% if @post.present? %>
        <div class="latest-news">
          <h3>Latest News</h3>
          <%= link_to 'Read more', posts_path, class: 'read-more' %>
          <%= render @post %>
        </div>
      <% end %>
      <% if @live.present? %>
        <div class="next-live">
          <h3>Next Live</h3>
          <%= link_to 'Read more', lives_path, class: 'read-more' %>
          <%= render @live %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3 mt-5">
      <div class="sns-box">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/Izo_ViS?ref_src=twsrc%5Etfw">Tweets by Izo_ViS</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="sns-box">
        <div class="fb-page mt-3" data-href="https://www.facebook.com/IzoSoloArtist/" data-tabs="timeline" data-width="" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/IzoSoloArtist/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/IzoSoloArtist/">Izo - Solo Artist</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="brand-section d-flex flex-wrap flex-md-row justify-content-between">
    <%= link_to 'http://blackcloud.co.jp/', target: :_blank do %>
      <%= image_tag 'bclogo.png', class: 'brand-link' %>
    <% end %>
    <%= link_to 'http://www.kikutani.co.jp/DR/', target: :_blank do %>
      <%= image_tag 'drlogo.jpeg', class: 'brand-link' %>
    <% end %>
    <%= link_to 'https://www.kikutani.co.jp/righton/', target: :_blank do %>
      <%= image_tag 'rslogo2.png', class: 'brand-link' %>
    <% end %>
    <%= link_to 'https://nakano-music.co.jp/', target: :_blank do %>
      <%= image_tag 'pblogo2.png', class: 'brand-link' %>
    <% end %>
  </div>
</div>
