<h1><%= link_to 'Izo Official Web Site', root_path, class: 'heading' %></h1>
<div class="item-section lg-5 row item">
  <div class="col-lg-3">
    <%= link_to discography_path do %>
      <%= image_tag 'journeyman.jpeg', class: "image item" %>
    <% end %>
  </div>
  <div class="info item mt-lg-5 col-lg-3 col-lg-offset-1">
    <h4>1st solo album</h4>
    <h4>『Journeyman』</h4>
    <h4>now on sale !</h4>
  </div>
  <div class="youtube item col-lg-4 col-lg-offset-1">
    <iframe width="420" height="236" src="https://www.youtube.com/embed/UnRym7Mh7qg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="main-section row">
  <div class="main col-md-9">
    <% if @posts.present? %>
      <div class="latest-news">
        <h3>Latest News</h3>
        <%= link_to 'Read more', posts_path, class: 'read-more' %>
        <ol class="posts">
          <%= render @posts %>
        </ol>
      </div>
    <% end %>
    <% if @live.present? %>
      <div class="next-live">
        <h3>Next Live</h3>
        <%= link_to 'Read more', lives_path, class: 'read-more' %>
        <ol class="lives">
          <%= render @live %>
        </ol>
      </div>
    <% end %>
  </div>
  <div class="side col-md-3">
    <div class="sns-box">
      <% if OneWord.first.present? %>
        <div class="one-word px-3 d-flex flex-column align-items-center">
          <div class="message my-3">
            <p>一言ギター日記</p>
            <div id="one_word_content">
              <%= render "one_words/content" %>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
          <%= link_to edit_one_word_path(OneWord.first), remote: true do %>
            <i class="fas fa-wrench ml-1"></i>
          <% end %>
        <% end %>
      <% else %>
        <% if user_signed_in? %>
          <%= link_to new_one_word_path, remote: true do %>
            <i class="fas fa-wrench ml-1"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="sns-box mt-3">
      <%= link_to 'https://twitcasting.tv/Izo_ViS', target: :_blank do %>
        <div class="twitcas-cm px-3 d-flex flex-column align-items-center">
          <div class="message mt-3">
            <div id="twitcasting_content">
              <%= render "users/twitcasting_content", user: @user %>
            </div>
          </div>
          <%= image_tag 'izo_chara.png', class: 'izo-chara' %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to edit_user_path(@user), remote: true do %>
          <i class="fas fa-wrench ml-1"></i>
        <% end %>
      <% end %>
    </div>
    <div class="sns-box mt-3">
      <a class="twitter-timeline" data-height="350" href="https://twitter.com/Izo_ViS?ref_src=twsrc%5Etfw">Tweets by Izo_ViS</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
<div class="brand-section row">
  <%= link_to 'http://blackcloud.co.jp/', target: :_blank, class: 'col-2  offset-1 brand-link' do %>
    <%= image_tag 'bcglogo.png', class: 'brand-logo' %>
  <% end %>
  <%= link_to 'http://www.kikutani.co.jp/DR/', target: :_blank, class: 'col-2 mt-2 brand-link' do %>
    <%= image_tag 'drlogo.png', class: 'brand-logo' %>
  <% end %>
  <%= link_to 'https://www.kikutani.co.jp/righton/', target: :_blank, class: 'col-2 mt-2 brand-link' do %>
    <%= image_tag 'rslogo2.png', class: 'brand-logo' %>
  <% end %>
  <%= link_to 'https://nakano-music.co.jp/', target: :_blank, class: 'col-2 mt-2 brand-link' do %>
    <%= image_tag 'pblogo2.png', class: 'brand-logo' %>
  <% end %>
  <%= link_to 'https://www.kikutani.co.jp/itemlist/16295/', target: :_blank, class: 'col-3 mt-2 brand-link' do %>
    <%= image_tag 'nnlogo.png', class: 'brand-logo' %>
  <% end %>
</div>

<div class="modal fade" id="one-word-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="twitcasting-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
