<%= link_to post_path(post.id), class: "partial-link" do %>
  <li id="post-<%= post.id %>" class="post-info d-flex flex-column flex-md-row align-items-center">
    <div class="post-column">
      <span class="title"><%= post.title %></span>
      <span class="description"><%= post.description %></span>
      <span class="date"><%= post.date %></span>
      <span class="edit"><%= link_to 'edit', edit_post_path(post.id) if user_signed_in?%></span>
    </div>
    <%= image_tag post.images.first.variant(resize:'250x250').processed, class:"image" if post.images.attached?  %>
  </li>
<% end %>