<% provide(:title, "NEWS") %>
<div class="row">
  <div class="col-md-12">
    <h3>News</h3>
    <li id="post-<%= @post.id %>" class="post-info d-flex flex-column flex-lg-row">
      <div class="post-column">
        <span class="title"><%= @post.title %></span>
        <span class="date"><%= @post.date %></span>
        <span class="description"><%= simple_format(h(@post.description)) %></span>
        <%= link_to @post.sitelink, @post.sitelink, target: :_blank, rel: :noopener, class: "sitelilnk" if @post.sitelink%>
        <% if user_signed_in? %>
            <%= link_to edit_post_path(@post.id), class: "edit" do %>
              <i class="fas fa-wrench ml-1"></i>
            <% end %>
        <% end %>
      </div>
      <div class="d-flex flex-column show-image-section">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image, class:"image" %>
          <% end %>
        <% end %>
      </div>
    </li>
  </div>
</div>