<% provide(:title, "LIVE") %>
<div class="row live-schedule">
  <div class="col-md-12">
    <h3>Live</h3>
    <%= render "ticket_btn" %>
    <li id="live-<%= @live.id %>" class="live-info d-flex flex-column  align-items-center flex-lg-row ">
      <div class="d-flex flex-column w-100">
        <% if @live.images.attached? %>
          <% @live.images.each do |image| %>
            <%= image_tag image.variant(resize:'700x700').processed, class:"images-show mb-5" %>
          <% end %>
        <% end %>
      </div>
      <div class="live-column d-flex flex-column">
        <span class="date"><%= @live.date %></span>
        <span class="place"><%= @live.place %></span>
        <span class="title"><%= @live.title %></span>
        <span class="time"><%= @live.time %></span>
        <span class="price"><%= @live.price %></span>
        <span class="performer"><%= simple_format(h(@live.performer)) %></span>
        <%= link_to @live.url, @live.url, target: :_blank, class: "url" %>
        <span class="description"><%= simple_format(h(@live.description)) %></span>
        <span class="edit"><%= link_to 'edit', edit_life_path(@live.id) if user_signed_in?  %></span>
      </div>
    </li>
  </div>
</div>
