<% provide(:title, "LIVE") %>
<div class="row live-schedule">
  <div class="col-md-12">
    <h3>Live</h3>
    <%= render "ticket_btn" %>
    <li id="live-<%= @live.id %>" class="live-info d-flex flex-column  align-items-center flex-lg-row ">
      <div class="d-flex flex-column show-image-section">
        <% if @live.images.attached? %>
          <% @live.images.each do |image| %>
            <%= image_tag image, class:"image mb-1" %>
          <% end %>
        <% end %>
      </div>
      <div class="live-column d-flex flex-column">
        <span class="date"><%= @live.date %></span>
        <span class="place"><%= @live.place %></span>
        <span class="title"><%= @live.title %></span>
        <span class="time"><%= @live.time %></span>
        <span class="price"><%= @live.price %></span>
        <span class="performer"><%= simple_format(h(@live.performer)) %></span>
        <%= link_to @live.sitelink, @live.sitelink, target: :_blank, rel: :noopener, class: "sitelink" if @live.sitelink %>
        <span class="description"><%= simple_format(h(@live.description)) %></span>
        <% if user_signed_in? %>
          <%= link_to edit_life_path(@live.id), class: "edit" do %>
            <i class="fas fa-wrench ml-1"></i>
          <% end %>
        <% end %>
      </div>
    </li>
  </div>
</div>
