<footer class="footer bg-dark">
  <div class="sns-icons d-flex flex-row justify-content-center">
    <%= link_to 'https://twitter.com/Izo_Jurneyman', target: :_blank do %>
      <i class="fab fa-twitter fa-3x sns-icon"></i>
    <% end %>
    <%= link_to 'https://www.facebook.com/IzoSoloArtist', target: :_blank do %>
      <i class="fab fa-facebook-square fa-3x sns-icon"></i>
    <% end %>
    <%= link_to 'https://www.youtube.com/channel/UC5U2206wiEBdPzEw1fpEVQg', target: :_blank do %>
      <i class="fab fa-youtube fa-3x sns-icon"></i>
    <% end %>
    <%= link_to 'https://www.instagram.com/izo_vis/?hl=ja', target: :_blank do %>
      <i class="fab fa-instagram fa-3x sns-icon"></i>
    <% end %>
    <%= link_to 'https://ameblo.jp/izo/', target: :_blank do %>
      <%= image_tag 'blog.png', class: 'sns-icon blog' %>
    <% end %>
    <%= link_to 'https://twitcasting.tv/Izo_ViS', target: :_blank do %>
      <%= image_tag 'tclogo.png', class: 'sns-icon blog' %>
    <% end %>
  </div>
  <small>Copyright © 2020 Izo .All Rights Reserved.</small>
</footer>