<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="Guitar Instrumentalのソロ、そしてメロディック・デスメタル・バンドVeiled in Scarletに所属するGuitarist「Izo（イゾー）」のオフィシャルサイト" name="description">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= favicon_link_tag('mask.png',{rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png'}) %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_messages' %>
    <div class='main-wrapper'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v7.0&appId=2623191774571195&autoLogAppEvents=1"></script>
</html>
